body {
  background-color: #87CEEB;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading {
  align-content: center;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.main {
  margin-top: 40px;
  margin-left: 30%;
  align-content: center;
}

.welcome {
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  align-content: center;
}

.form {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 10px;
  width: 60%
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 70%
}
